<!DOCTYPE html>
<html>

    <head>
        <title>Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700,900" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}
        <link rel="stylesheet" href="{% static "blog.css" %}">
    </head>

    <body>

        <header>

        </header>

        {% block content %}

        {% endblock content %}

        <footer>
            <h5>Copyright &copy; 2019</h5>
        </footer>
    </body>
</html>