{% extends "base.html" %}
{% block content %}

<div class="container">
      <article>
        <h2>{% block title %} {{ post.title }} {% endblock title %}</h2>
        <p><b>{{ post.author }}</b> | <span class="date">{{ post.created_on }}</span></p>
        <p class="text ">{{ post.content | safe }}</p>
      </article>

      <article>
        <!-- comments -->
        <h4>{{ comments.count }} комментариев</h4>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p><b>{{ comment.name }}</b> | <span class="date">{{ comment.created_on }}</span></p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </article>

      <article>
        {% if new_comment %}
        <p>Ваш комментарий ждет модерации</p>
        {% else %}
        <h3>Оставить комментарий</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Отправить</button>
        </form>
        {% endif %}
      </article>
</div>

{% endblock content %}