{% extends "base.html" %}
{% block content %}

<div class="container">
    <article>
        <h2>{% block title %} {{ post.title }} {% endblock title %}</h2>
        <p><b>{{ post.author }}</b> | <span class="date">{{ post.created_on }}</span></p>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://vetalblog.herokuapp.com{{ request.path | urlencode }}" class="share_link" target="_blank">
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
        </a>
        <a href="https://twitter.com/share?text={{ post.title }}&url=https://vetalblog.herokuapp.com{{ request.path | urlencode }}" class="share_link" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
        <a href="https://vk.com/share.php?title={{ post.title }}&url=https://vetalblog.herokuapp.com{{ request.path | urlencode }}" class="share_link" target="_blank">
            <svg class="icon icon-vk"><use xlink:href="#icon-vk"></use></svg>
        </a>
        <a href="https://telegram.me/share/url?text={{ post.title }}&url=https://vetalblog.herokuapp.com{{ request.path | urlencode }}" class="share_link" target="_blank">
            <svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg>
        </a>
        <p class="text ">{{ post.content | safe }}</p>
    </article>

    <article>
        <!-- comments -->
        <h4>{{ comments.count }} комментариев</h4>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p><b>{{ comment.name }}</b> | <span class="date">{{ comment.created_on }}</span></p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
    </article>

    <article>
        {% if new_comment %}
        <p>Ваш комментарий ждет модерации</p>
        {% else %}
        <h3>Оставить комментарий</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Отправить</button>
        </form>
        {% endif %}
    </article>
</div>

{% endblock content %}