{% extends 'base.html' %} {% block content %}

<header class="center">
    <div class="container">
        <h1>Blog</h1>
        <a href="/"><div class="circle"></div></a>
        <div class="themeblog">theme blog</div>
    </div>
</header>
<div class="line"></div>
<div class="container">
      <article>
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p><b>{{ post.author }}</b> | <span class="date">{{ post.created_on }}</span></p>
        <p class="text ">{{ post.content | safe }}</p>
      </article>

      <article>
        <!-- comments -->
        <h4>{{ comments.count }} comments</h4>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
              <b>{{ comment.name }}</b> |
            <span class="date">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </article>

      <article>
        {% if new_comment %}
        <p>Your comment is awaiting moderation</p>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </article>

</div>

{% endblock content %}